{% extends "base.html" %}

{% block button %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" button class="btn btn-primary btn-lg active">HOME</button></a>
{% endblock button %}

{% block main %}

	
	
	<form method="POST">
		<h2>Choose your files to upload</h2>
		<h5>That might need a moment</h5>
		</br>
		{% csrf_token %}

		{% if messages %}
			{% for message in messages %}
				<div class="{{ message.tags }}">
					{{ message|safe }}
				</div>
			{% endfor %}		
		{% endif %}

		<div class="form-group">
			<label class="control-label" for="{{ form.file_path.id_for_label }}">File Choose</label>
			{% for error in form.file_path.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error|safe }}
				</div>
			{% endfor %}
			{{ form.file_path }}
		</div>
		
		
		
		<button class="btn btn-primary btn-lg active" type="submit" name="uploading">START UPLOAD</button>
		
		
	</form>
{% endblock main %}