{% extends "base.html" %}

{% block main %}

<FONT SIZE="4.5" COLOR="6699cc" >version: 0.2.1107_develop</FONT></br>
<FONT SIZE="4.5" COLOR="6699cc" >description: This is a search engine for file server, allowing users to quickly find the file which they want, even if they can not remember the details of the file.</FONT></br>
<FONT SIZE="4.5" COLOR="6699cc" >issues: [file upload] can not be used yet.</FONT></br>
<FONT SIZE="4.5" COLOR="6699cc" >advise: cao.xiaocheng@trans-cosmos.com.cn</FONT></br>

{% endblock main %}